<head>
	<meta charset="utf-8">
	<title>Calendar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<!-- mui -->
	<script src="/static/js/mui.min.js"></script>
	<script type="text/javascript" src="/static/js/mui.picker.min.js"></script>
	<link rel="stylesheet" href="/static/css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mui.picker.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<!-- 插件 -->
	<script type="text/javascript" src=/static/js/validate.js></script>

	<style type="text/css">
		.bv-form .help-block {
			margin-bottom: 0;
		}
		.bv-form .tooltip-inner {
			text-align: left;
		}
		.nav-tabs li.bv-tab-success > a {
			color: #3c763d;
		}
		.nav-tabs li.bv-tab-error > a {
			color: #a94442;
		}
	</style>
</head>